form.default {
  
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    /* border: 1px solid #CCC;
    border-radius: 1em;*/
  }

form.overflow-x-scroll{
  overflow-x: scroll;
}

input#upload_excel{
  display: none;
}
#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}